*{
    box-sizing: border-box;
}
.dad{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
    header{
        display: flex;
        flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(multimedia/piza.jpg);
    background-size: cover;
    width: 100%;
    }
        h1{
            font-size: 70px;
            -webkit-text-stroke: 4px rgb(175, 0, 0);
                    color:  rgba(19, 19, 19, 0.281);; 
        }
        header a{
            font: 30px;
        }
    main{
        display: flex;
        flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    }


.nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    color: white;
    position: sticky;
    top: -1px;
    background: rgb(175, 0, 0);
    border-bottom: solid 2px white;
    width: 100%;
}
    .nav a{
        text-decoration: none;
        color: white;
        border-left: solid 1px white;
        margin: 5px;
        font-family: 'Rowdies', cursive;
font-size: 20px;
    }
    h3{
        -webkit-text-stroke: .5px rgb(0, 255, 0);
        color: transparent;
        animation-name: titulo;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        animation-delay: 1s;
    }
    @keyframes titulo {
      0%{
        -webkit-text-stroke: .5px rgb(0, 255, 0);
      }
      50%{
        color: green;
      }
      100%{
        -webkit-text-stroke: .5px rgb(0, 255, 0);
      }
    }
    section{
        display: flex;
        flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
        article{
            display: flex;
            flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 300px;
        }
        .pizza{
            display: flex;
            flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(multimedia/pizzaa.jpg);
    width: 100%;
    background-size: cover;
    height: 400px;
        }
        .titulo{
            font-size: 50px;
            -webkit-text-stroke: 4px rgb(255, 255, 255);
            color:  rgba(0, 0, 0, 0.548);
        }
        .grupos{
            display: flex;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.527);
            margin-bottom: 10px;
        }
        .burguer{
            display: flex;
            flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(multimedia/burger-min.jpg);
    width: 100%;
    background-size: cover;
    height: 400px;
        }
        .grupos-2{
            display: flex;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.527);
            margin-bottom: 10px;
        }
        
        .sand{
            display: flex;
            flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(multimedia/mila.webp);
    width: 100%;
    background-size: cover;
    height: 400px;
        }
        .grupos-3{
            display: flex;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.527);
            margin-bottom: 10px;
        }


        .past{
            display: flex;
            flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(multimedia/pasta.jpg);
    width: 100%;
    background-size: cover;
    height: 400px;
        }
        .grupos-4{
            display: flex;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.527);
            margin-bottom: 10px;
        }
        
        .drink{
            display: flex;
            flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(multimedia/bebi.webp);
    width: 100%;
    background-size: cover;
    height: 400px;
        }
        .grupos-5{
            display: flex;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.527);
            margin-bottom: 0px;
        }
        
        footer{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            background: rgb(175, 0, 0);
            color: white;
            font-family: 'Rowdies', cursive;
        }

    @media screen and (min-width: 700px){
        h1{
            font-size: 150px;
        }
        article p{
            font-size: 30px;
        }
        article{
            height: 800px;
        }
    }